*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Inizio Header  */

header{
    padding-left: 10px;
    line-height: 90px;
}

#logo{
    height: 70px;
    vertical-align: middle;
}

#logo_text{
    font-size: 55px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 750;
    color: #0F0F0F;
    vertical-align: middle;
}
/* Fine Header  */


/* common */

main{
    background-color: #F6F8F9;
    height: 1000px;
    padding-top: 50px;
}
/* /common */

/* Inizio contenitore  */

.contenitore{
    height: 800px;
    width: 80%;
    margin: 0 auto;
    background-color: white;
    border-top: 30px;
}
/* Fine Container  */

/* inizio intro_main  */
.intro_main{
    border-bottom: 0.8px solid #F6F8F9;
    padding: 15px;
    padding-left: 50px;
}

#add_task {
    height: 30px;
    width: 80px;
    background-color: #46ABEA;
    border-radius: 8px;
    border-color: transparent;
    margin-right: auto;
    color: white;
    font-size: 15px;
}

#Add_section{
    height: 30px;
    width: 100px;
    border-radius: 8px;
    margin-right: auto;
    font-size: 15px;
    border-color: #D3D8DC;
    background-color: white;
    color: gray;
}

.text_section{
    color: #D6D8DD;
}

/* Fine intro_main  */

/* Inizio Corpo e lista */

.corpo_main{
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.section{
    border-bottom: 0.5px solid white;
    padding: 15px;
    padding-left: 30px;
}

.title_gras{
    font-size: 30px;
    font-weight: bold;
}

#add_taskB {
    background-color: #46ABEA;
    color: white;


    height: 30px;
    width: 80px;
    border-radius: 8px;
    margin-right: auto;
    font-size: 15px;
    border-color: transparent;
    margin-top: 10px;

}

#add_taskP {
    background-color: #9C72E4;
    color: white;


    height: 30px;
    width: 80px;
    border-radius: 8px;
    margin-right: auto;
    font-size: 15px;
    border-color: transparent;
    margin-top: 10px;
}

#add_taskW {
    height: 30px;
    width: 80px;
    background-color: #64C0A9;
    border-radius: 8px;
    margin-right: auto;
    color: white;
    font-size: 15px;
    border-color: transparent;
    margin-top: 10px;

}

#add_taskO {
    height: 30px;
    width: 80px;
    background-color: #F39F33;
    border-radius: 8px;
    margin-right: auto;
    color: white;
    font-size: 15px;
    border-color: transparent;
    margin-top: 10px;

}

#add_taskPi {
    height: 30px;
    width: 80px;
    background-color: #D763A1;
    border-radius: 8px;
    margin-right: auto;
    color: white;
    font-size: 15px;
    border-color: transparent;
    margin-top: 10px;

}

#add_taskG {
    height: 30px;
    width: 80px;
    background-color: #B9CF41;
    border-radius: 8px;
    margin-right: auto;
    color: white;
    font-size: 15px;
    border-color: transparent;
    margin-top: 10px;

}

#check {
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color: white;
    margin-right: auto;
    color: green;
    font-size: 15px;
    border-color: green;
    border-radius: 50%;
    border: 2px solid green;
    line-height: 20px;
    text-align: center;
    margin-right: 10px;
    
}

#cross {
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color: white;
    margin-right: auto;
    color: red;
    font-size: 15px;
    border-color: green;
    border-radius: 50%;
    border: 2px solid red;
    line-height: 20px;
    text-align: center;
    margin-right: 10px;
}


#no_buttom{
    display: inline-block;
    font-size: 17px;
    margin-top: 10px;
}
/* Inizio Corpo e lista */

